<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://farm3.staticflickr.com/2361/2901573355_e12b770143_b.jpg" class="center" width="720" height="333" alt="" >
      <div class="carousel-caption">
        <h1 class="white text-center"> $25,000 is the average debt college students have after 4 years</h1><small>Image source: Tulane University Flickr</small>
      </div>
    </div>
    <div class="item">
      <img src="http://farm7.staticflickr.com/6040/6338438851_be6c632716_b.jpg" class="center" width="720" height="333" alt="" >
      <div class="carousel-caption">
        <h1 class="white text-center"> In 2008, 67% of students graduating from four year colleges and universities had student loan debt. Alumni and corporations can help.</h1><small>Fact: projectonstudentdebt.org, January 2010. Photo: Flickr - 3 Day Startup</small>
      </div>
    </div>
    <div class="item">
      <img src="http://i.images.cdn.fotopedia.com/flickr-5148299337-hd/Spain/St._James_Way/The_French_Way/Pamplona/Campus_-_Universidad_de_Navarra.jpg" class="center" width="720" height="333" alt="" >
      <div class="carousel-caption">
        <h1 class="white text-center"> Student loans have grown 511% since 1999</h1><small>Flickr:Universidad de Navarra</small>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
