{% extends "base.html" %}

{% block title %}ConnectForEdu | Facts {% endblock %}

{% block body %}
<h1> Student Loan Facts </h1>
<div class="row span12">
  <ul>
    <li>
      <p> The average student loan debt in America is <strong>$25,250</strong>. <sup><a href="#fn1"> 1 </a></sup> </p>
    </li>
    <li>
      <p> 
        The total student loan debt in America will reach <strong>$1 trillion</strong> in early 2012.  
        This far exceeds credit card debt in America.   <sup><a href="#fn2"> 2 </a></sup> 
      </p>
    </li>
    <li>
      <p> About <strong>2/3</strong> of college graduates graduate with student loans. <sup><a href="#fn3"> 3 </a></sup> </p>
    </li>
    <li>
      <p> The total student loan debt in the United States is now increasing at a rate of approximately <strong>$2,853.88 per second</strong>. <sup><a href="#fn4"> 4 </a></sup> </p>
    </li>
    <li>
      <p> The average <strong>default rate</strong> is <strong>8.8%</strong> <sup><a href="#fn5"> 5 </a></sup> </p>
    </li>
    <li>
      <p> Today it is <strong>400%</strong> more expensive to <strong>go to college</strong> in the United States than it was <strong>just</strong> 30 years ago. <sup><a href="#fn6"> 6 </a></sup> </p>
    </li>
  </ul>
</div>
<div class="row span12">
<div class="">
  <ol class="">
    <li id="fn1">
      <h6><a rel="nofollow" href="http://www.usnews.com/news/articles/2012/03/06/5-shocking-facts-about-student-loan-debt">http://www.usnews.com/news/articles/2012/03/06/5-shocking-facts-about-student-loan-debt</a></h6>
    </li>
    <li id="fn2">
      <h6><a rel="nofollow" href="http://www.msnbc.msn.com/id/3032619/#46828327">http://www.msnbc.msn.com/id/3032619/#46828327</a></h6>
    </li>
    <li id="fn3">
      <h6><a rel="nofollow" href="http://www.businessinsider.com/facts-about-student-loan-debt-2010-12#approximately-two-thirds-of-all-college-students-graduate-with-student-loans-6">http://www.businessinsider.com/facts-about-student-loan-debt-2010-12#approximately-two-thirds-of-all-college-students-graduate-with-student-loans-6</a></h6>
    </li>
    <li id="fn4">
      <h6><a rel="nofollow" href="http://www.businessinsider.com/facts-about-student-loan-debt-2010-12#total-student-loan-debt-in-the-united-states-is-now-increasing-at-a-rate-of-approximately-285388-per-second-10#ixzz1qALnEivV">http://www.businessinsider.com/facts-about-student-loan-debt-2010-12#total-student-loan-debt-in-the-united-states-is-now-increasing-at-a-rate-of-approximately-285388-per-second-10#ixzz1qALnEivV</a></h6>
    </li>
    <li id="fn5">
      <h6><a rel="nofollow" href="http://www.usatoday.com/news/education/story/2011-10-18/student-loans-for-profit-college/50819470/1">http://www.usatoday.com/news/education/story/2011-10-18/student-loans-for-profit-college/50819470/1</a></h6>
    </li>
    <li id="fn6">
      <h6><a rel="nofollow" href="http://www.businessinsider.com/facts-about-student-loan-debt-2010-12#ixzz1qAKlNcCg">http://www.businessinsider.com/facts-about-student-loan-debt-2010-12#ixzz1qAKlNcCg</a></h6>
    </li>
  </ol>
</div>
</div>

{% endblock %}
