{% extends "base.html" %}

{% block title %}Connecting charitable alumni and corporate donors to students with loan debt{% endblock %}

{% block body %}
  <div class="row">
    <div class="span12">
      <div class="row">
        <table class="span6">
          <tbody id="select_student_spotlight">
          </tbody>
        </table>
        <div class="span6">
          <div class="thumbnail" id="student_in_spotlight">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <!--
    <div id="facts_carousel" class="carousel span12">
      <div class="carousel-inner">
        <div class="active item">
          <h1>$25000</h1>
          <p> is the average student loan debt. You can help.</p>
          <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="prev">&rsaquo;</a>
    </div>
    -->
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
  <script type="text/javascript">
    var students = [];
    {% for student in students %}
      students.push({'name': "{{ student.name|safe }}",
        'university': "{{ student.university|safe }}",
        });
    {% endfor %}
  </script>
{% endblock %}
