{% extends "base.html" %}

{% block title %}Connecting charitable alumni and corporate donors to students with loan debt{% endblock %}

{% block body %}
  <div class="row">
    {% include "facts_carousel.html" %}
  </div>
  <div class="row">
    {% include "sac_info_columns.html" %}
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
  <script type="text/javascript">
    var students = [];
    {% for student in students %}
      students.push({'name': "{{ student.name|safe }}",
        'university': "{{ student.university|safe }}",
        });
        //spotlight();
        $('.carousel').carousel();
    {% endfor %}
  </script>
{% endblock %}
