<!-- template for student, alumni, corporate info columns -->

<div class="span4">
  <h2> I am a student. </h2>
  <p> Is your student loan debt preventing you from pursuing higher education, entreprenuership, or your true professional aspirations?</p>
  <p><a class="btn" href="/students">
    Learn more &raquo;
  </a></p>
</div>

<div class="span4">
  <h2> I am an alumnus. </h2>
  <p> Connect with passionate, enterprising students from your alma mater. You can profoundly impact students' lives by helping free them from excessive loan debt. </p>
  <p><a class="btn" href="/alumni">
    Learn more &raquo;
  </a></p>
</div>

<div class="span4">
  <h2> I represent an organization.</h2>
  <p> Network with top caliber students while contributing back to the community. </p>
  <p><a class="btn" href="/organizations">
    Learn more &raquo;
  </a></p>
</div>
