.text-center {
    text-align:center;
}

.center {
    margin: 0 auto;
    padding: 0px;
}

.white {
    color: white;
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 250px;
}
